lenguajeDeMarcas/Fase 3/ResultadoUltimaJornada/ResultadoUltimaJornada.dtd

<!ELEMENT resultado_jornada (jornada)>
<!ELEMENT jornada (numero_jornada, enfrentamiento+)>
<!ATTLIST jornada 
    id CDATA #REQUIRED
>
<!ELEMENT numero_jornada (#PCDATA)>
<!ELEMENT enfrentamiento (cod_equipo_local, cod_equipo_visitante, ganador)>
<!ATTLIST enfrentamiento 
    id CDATA #REQUIRED
>
<!ELEMENT cod_equipo_local (#PCDATA)>
<!ELEMENT cod_equipo_visitante (#PCDATA)>
<!ELEMENT ganador (#PCDATA)>
